@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

$font-stack: Kdam Thmor Pro, Arial, sans-serif;
$bg-color: rgb(30, 30, 30);
$color-primary: #f1f1f1;
$color-secondary: #538d4e;
$color-accent: #b59f3b;
$color-warning: yellow;
$color-alert: red;
