@use "config" as config;
@use "btnConfig";
@use "blockConfig";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: config.$bg-color;
  height: 100vh;
}

header {
  border-bottom: 1px solid config.$color-primary;
  height: 50px;
  position: relative;
  color: config.$color-primary;
  z-index: 1;

  .menu-left {
    font-size: 1.2rem;
    position: absolute;
    left: 40px;
    top: 25%;
  }

  .title {
    font-family: config.$font-stack;
    font-size: 2rem;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }

  .menu-right {
    position: absolute;
    right: 40px;
    top: 25%;
    width: 60px;
    display: flex;
    justify-content: space-between;
  }
}

/*******************Style for board*******************/
#game {
  width: 100%;
  padding: 20px 0 20px 0;
  // position: relative;
  display: flex;
  justify-content: center;
}

#board {
  width: 600px;
  height: 600px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  position: relative;
}

/* This will be added to the html by js based on if the user wins or loses */
#display_result {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  top: 0;
}
